/* #ffc107 = yellow */


body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'DM Serif Text', serif;
  font-size: 3.5rem;
  line-height: 1.25;
}

h3{
  font-family: 'DM Serif Text', serif;
  font-size: 2rem;
  line-height: 1.25;
}

p{
  color:grey;    
}

/* Title Section */

#title{
  background-color:#dadbdf;


}

.container-fluid{
  padding: 2% 10% 4%;
}


.header-img-martini{
  width: 45%;
  border: solid #ffc107;
  transform: rotate(-10deg);
  position: absolute;
  right: 8%;
  top: 25%;

  
}

.header-button{
  margin: 3.5rem 1.25rem 1rem 0;
}

@media (max-width:1072px) and (min-width:990px){
  

  .header-img-martini{
    width: 45%;
    transform: rotate(-10deg);
    position: absolute;
  }
    
  .header-button{
    margin: 1.25rem;
  }

}

@media (max-width:990px) {
  #title{
    text-align: center;
  }
 
  h1{
    padding: 1.75rem 0;
  }
  .header-img-martini{
    width: 85%;
    transform: rotate(0);
    position:static;
    margin: 5%;
  }
    
  .header-button{
    margin: 1.25rem;
  }

}

/* Navigation Bar */

.navbar{
  padding: 0 0 4rem;
}

.navbar-brand{
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}

.nav-item{
  padding: 0 0 0 35px;
  align-items: left;
}
.nav-link:hover{
  color: #ffc107;
}





/* Features */

#features{
  text-align: center;
  padding: 6% 15%;
  background-color: #fff;
  position: relative;
}


.feature-col{
  padding: 2rem;
}

.feature-icon{
  color:#ffc107;
  padding-bottom: 1.25rem;
}
.feature-icon:hover{
  color: #fdd34c;
}

.btn-blog{
  margin: 1rem 0 2rem;
}


/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #dadbdf;

  
}

#carousel-testimonials{
  padding: 6% 15% 3%;
  
}

.carousel-item{
  min-height:15rem;
}

.testimonials-img{
  width: 5rem;
  border-radius: 100%;
  margin: 2rem;
  
}

.carousel-indicators button {
  height: 8px !important;
  width: 8px !important;
  margin: 0 5px !important;
  border-radius: 100%;
}

/* Press */

#press{
  text-align: center;
  background-color: #dadbdf;
  padding: 3% 8% 6%;
}

.press-col{
  padding: 1rem;
}

.press-img{
  height: 2.4rem;
}


/* Pricing-Section */

#pricing{
  padding: 4% 10% 6%;
}

.h1-pricing{
  margin-bottom: 2%;
}

.recipe-card{
  padding:4% 2%
}