/* #ffc107 = yellow */


body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #dadbdf ;
}

.container-fluid{
  padding: 2% 10%;
}


.header-img-martini{
  max-width: 100%;
  border: solid #ffc107;
}


h1{
  font-family: 'DM Serif Text', serif;
  font-size: 3.5rem;
  line-height: 1.25;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4rem;
}

.navbar-brand{
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}

.nav-item{
  padding: 0 0 0 35px;
  align-items: left;
}
.nav-link:hover{
  color: #ffc107;
}


.header-button{
  margin: 3.5rem 1.25rem 3.5rem 0
}


/* Features */

#features{
  text-align: center;
}

h3{
  font-family: 'DM Serif Text', serif;
  font-size: 2rem;
  line-height: 1.25;
}

p{
  color:grey;    
}
.feature-row{
  margin: 3.5rem 8rem;
}

.feature-col{
  padding: 2rem 8%;
}

.feature-icon{
  color:#ffc107;
  padding-bottom: 1.25rem;
}
.feature-icon:hover{
  color: #fdd34c;
}

.btn-blog{
  margin: 1rem 0 2rem;
}